@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

$footer-background-color: hsl(0, 0%, 75%);

.content-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    gap: 3rem;
}

iframe {
    width: 100vw;
    height: 100vh;
}

@import "../node_modules/bulma/bulma";